@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.gray.100');
  --foreground: theme('colors.gray.900');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.gray.900');
    --foreground: theme('colors.gray.100');
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}